PyYAML==3.09
South==0.7.3
django==1.4
django-debug-toolbar==0.8.5
django-openid-consumer==0.1.1
django-social-auth==0.6.0
-e git+https://github.com/toastdriven/django-tastypie.git#egg=master
pyexcelerator==0.6.4.1
django-annoying
django-nose==1.1