<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="css/style.ie.css">
<![endif]-->
<!--[if lte IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</head>
<body class="page m-favourites">

    <div class="header">

            <div class="header__top">

                <div class="header__top-wrapper">

                    <div class="header__logo">
                        <a class="header__logo-link" href="#"></a>
                    </div>
                    <div class="header__message">Ваши любимые кушанья, мисьё Дмитрий!</div>

                    <ul class="header__nav">
                        <li class="header__nav-item">
                            <a class="header__nav-link header__favourites" href="#">
                                <i class="header__favourites-icon"></i>
                                Любимые блюда
                            </a>
                        </li>
                        <li class="header__nav-item header__exit">
                            <a class="header__nav-link" href="#">Выход есть</a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="header__bottom">

                <div class="header__bottom-wrapper">

                    <ul class="header__week">

                        <li class="header__day m-has-price m-completed" data-day="0">
                            <span class="header__day-title">Понедельник</span>
                            <span class="header__day-comment">в офисе / 380р.</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price m-completed" data-day="1">
                            <span class="header__day-title">Вторник</span>
                            <span class="header__day-comment">в офисе / 380р.</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price m-completed" data-day="2">
                            <span class="header__day-title">Среда</span>
                            <span class="header__day-comment">худею</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price" data-day="3">
                            <span class="header__day-title">Четверг</span>
                            <span class="header__day-comment">худею</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price" data-day="4">
                            <span class="header__day-title">Пятница</span>
                            <span class="header__day-comment">худею</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price m-inactive" data-day="5">
                            <span class="header__day-title">Суббота</span>
                            <span class="header__day-comment">худею</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price m-inactive" data-day="6">
                            <span class="header__day-title">Воскресенье</span>
                            <span class="header__day-comment">худею</span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li><li class="header__day m-has-price" data-day="7">
                            <span class="header__day-title">Все неделя</span>
                            <span class="header__day-comment"></span>
                            <div class="header__day-variants">
                                <div class="header__day-variants-wrapper">
                                    <ul class="header__day-select">
                                        <li class="header__day-select-item header__day-restaurant">иду в Луч</li>
                                        <li class="header__day-select-item header__day-office">ем в офисе</li>
                                        <li class="header__day-select-item header__day-none">худею</li>
                                    </ul>
                                    <div class="header__day-price">
                                        <span class="header__day-price-big">220</span>р.
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>


                    <div class="header__complete">
                        <span class="header__complete-fork"></span>
                        <span class="header__complete-button">
                            <span class="header__complete-button-wrapper">ням-ням</span>
                        </span>
                        <span class="header__complete-spoon"></span>
                    </div>


                    <div class="header__providers">
                        <ul class="header__providers-list">
                            <li class="header__provider header__providers-fusion m-active">
                                <span class="header__provider-l"></span>
                                <span class="header__provider-c">Фьюжн</span>
                                <span class="header__provider-r"></span>
                            </li>
                            <li class="header__provider header__providers-shit">
                                <span class="header__provider-l"></span>
                                <span class="header__provider-c">Хлеб-соль</span>
                                <span class="header__provider-r"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="header__change">
                        <span class="header__change-l"></span>
                        <span class="header__change-c">Исправить</span>
                        <span class="header__change-r"></span>
                    </div>

                </div>

            </div>
    </div>




    <div class="content">

        <div class="content__wrapper content__favourites m-column-slider">

            <div class="content__favourites-message">
                Перед вами все доступное меню. Выберете ваши любимые блюда и они буду отмечаться автоматически,<br>
                если вы по какой-либо причине не сделаете заказ на новую неделю.
            </div>

            <div class="header__complete">
                <span class="header__complete-fork"></span>
                <span class="header__complete-button">
                    <span class="header__complete-button-wrapper">ням-ням</span>
                </span>
                <span class="header__complete-spoon"></span>
            </div>

            <div class="content__favourites-categories">

                <div class="content__favourites-category m-small">
                    <h1 class="content__favourites-header">Салаты</h1>
                    <ul class="content__favourites-list">
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Грибной со звездочками (постное)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Борщ "Украинский" с мясом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Сливочный с Семгой
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Каша молочная пшённая с тыквой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная отварная (диетическая)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + ПЮРЕ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Филе Пикши запеченое с помидором, сыром и майонезом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + РИС С ШАФРАНОМ
                        </li>
                    </ul>
                </div>

                <div class="content__favourites-category">
                    <h1 class="content__favourites-header">Первое</h1>
                    <ul class="content__favourites-list">
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Суп Грибной со звездочками (постное)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Борщ "Украинский" с мясом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Сливочный с Семгой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Каша молочная пшённая с тыквой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная отварная (диетическая)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Филе Пикши запеченое с помидором, сыром и майонезом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon m-selected"></span>
                            Сосиски молочные "Микояновские" отварные + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + РИС С ШАФРАНОМ
                        </li>
                    </ul>
                </div>

                <div class="content__favourites-category">
                    <h1 class="content__favourites-header">Второе</h1>
                    <ul class="content__favourites-list">
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Грибной со звездочками (постное)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Борщ "Украинский" с мясом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Сливочный с Семгой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Каша молочная пшённая с тыквой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная отварная (диетическая)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Филе Пикши запеченое с помидором, сыром и майонезом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + РИС С ШАФРАНОМ
                        </li>
                    </ul>
                </div>

                <div class="content__favourites-category">
                    <h1 class="content__favourites-header">Выпечка</h1>
                    <ul class="content__favourites-list">
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Грибной со звездочками (постное)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Борщ "Украинский" с мясом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Сливочный с Семгой
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Каша молочная пшённая с тыквой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная отварная (диетическая)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + ПЮРЕ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Филе Пикши запеченое с помидором, сыром и майонезом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + РИС С ШАФРАНОМ
                        </li>
                    </ul>
                </div>

                <div class="content__favourites-category m-small">
                    <h1 class="content__favourites-header">Прочее</h1>
                    <ul class="content__favourites-list">
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Суп Грибной со звездочками (постное)
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Борщ "Украинский" с мясом
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Суп Сливочный с Семгой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Каша молочная пшённая с тыквой
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная отварная (диетическая)
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Филе Пикши запеченое с помидором, сыром и майонезом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Сосиски молочные "Микояновские" отварные + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + РИС С ШАФРАНОМ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Грудка куриная фаршированная сыром и ветчиной + МАКАРОНЫ
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом
                        </li>
                        <li class="content__favourites-item m-selected">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + ПЮРЕ
                        </li>
                        <li class="content__favourites-item">
                            <span class="content__favourites-icon"></span>
                            Люля-Кебаб из Говядины с томатным соусом + РИС С ШАФРАНОМ
                        </li>
                    </ul>
                </div>

                <div class="content__favourites-category-align-justify"></div>

            </div>

        </div>

    </div>



    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

</body>
</html>
