{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}Меню {{ week }} по людям{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}admin.css" />
{% endblock %}

{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}
{% spaceless %}
        <div class="noprint">
            <form style="margin: 10px" method="GET" action="/admin/dinner/week/{{week.id}}">
                <input type="hidden" name="r" value="taxes"/>
                Месяц:
                <select name="date">
                {% for m in monthes %}
                    <option value="{{m}}" {% if m == current_month %}selected="true"{% endif %}>{{m}}</option>
                {% endfor %}
                </select>
                &nbsp;<input type="submit" value="выбрать"/>
            </form>
        </div>
        {% for user, menu, total in users %}
            <div class="print-only" style="margin-bottom: 2cm; width: 300px;">
                <h4>
                    {{user.get_full_name}}
                    <br/>Блюда за период {{period_caption}}.
                </h4>
            </div>
            <table width="650">
            {% for item in menu %}
                <tr>
                    <td>{{ item.dish_day__dish__name|linebreaks }}</td>
                    <td align="right" width="70">{{ item.dish_day__price }} руб.</td>
                    <td>x{{ item.count__sum }}</td>
                    <td align="right">{{ item.dish_day__price_total }}</td>
                </tr>
            {% endfor %}
                <tr style="font-weight: bold">
                    <td align="right"><strong>Итого:</strong></td>
                    <td colspan="3" align="right">{{ total }} руб.</td>
                </tr>
            </table>
            <div align="right" class="print-only" style="margin-top: 2cm; width:300px">
                        {{user.get_full_name}} __________________
            </div>

            <div class="page-break"></p>

        {% endfor %}
{% endspaceless %}
    </div>
{% endblock %}
