{% extends "admin/base_site.html" %}
{% block title %}Заказанные обеды{% endblock %}
{% block extrahead %}<script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js"></script> {% endblock %}
{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}
        <h1>Заказанные обеды:</h1>
        <table>
        {% for order in orders %}
            <tr>
                <td>{{ order.user.username }}</td>
                <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                <td title="общее кол-во блюд">{{ order.num_items|default_if_none:'-' }}</td>
                <td title="дни на которые хоть что-то заказно" style="{% if order.num_days <= 3 %}color:red{% endif %}">{{ order.num_days|default:'-' }}</td>
                <td>{% spaceless %}
                    {% if order.num_items < 5  or order.donor %}
                        <form action="." method="post">
                            {% csrf_token %}
                            <input type="hidden" name="for" value="{{ order.user.pk }}" />
                            {{ donor_widget }}
                        </form>
                    {% endif %}
                {% endspaceless %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.donor').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}