{% extends "admin/base_site.html" %}
{% block title %}Заказанные обеды{% endblock %}
{% block extrahead %}<script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js"></script> {% endblock %}
{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}
        <h1>Заказанные обеды:</h1>
        <table>
        {% for office, orders in offices %}
        <tr><td></td><td colspan="5"><h1>{{office.title}}</h1></td></tr>    
            {% for order in orders %}
                <tr>
                    <td align="right">{{ forloop.counter }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                    <td title="общее кол-во блюд">{{ order.num_items|default_if_none:'-' }}</td>
                    <td title="дни на которые хоть что-то заказно" style="{% if order.num_days <= 3 %}color:red{% endif %}">{{ order.num_days|default:'-' }}</td>
                    <td>{% spaceless %}
                        {% if order.num_items < 5  or order.donor %}
                            <form action="." method="post">
                                {% csrf_token %}
                                <input type="hidden" name="for" value="{{ order.user.pk }}" />
                                {{ donor_widget }}
                            </form>
                        {% else %}
                            {% comment %}
                                <a href="{% url dinner.views.order_view order.pk %}" target="_blank" onclick="window.open('{% url dinner.views.order_view order.pk %}', 'order', 'width=400,height=400'); return false;">посмотреть</a>
                            {% endcomment %}
                        {% endif %}
                    {% endspaceless %}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.donor').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}
