{% extends "admin/base_site.html" %}
{% block title %}Заказ на наделю {{ menu.week }} }}{% endblock %}
{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}

        <table>
            <tr>
                <th>№ п/п</th>
                <th>Наименование</th>
                <th>Вес (грамм)</th>
                <th>Цена(р)</th>
                <th>Кол-во</th>
                <th>Сумма(р)</th>
            </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.dish__index }}</td>
                <td>{{ item.dish__title }}</td>
                <td>{{ item.dish__weight }}</td>
                <td>{{ item.dish__price }}</td>
                <td>{{ item.count__sum }}</td>
                <td>{{ item.cost__sum }}</td>
            </tr>
        {% endfor %}
        </table>

    </div>
{% endblock %}