{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}Меню {{ week }} по людям{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}admin.css" />
    <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}css/report_print.css" />
{% endblock %}

{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}
        {% for office, users in offices %}
            <div class="office">
                <h2 class="office-title">{{office.title}}</h2>

                <table class="office-menu">
                    {% for user, days in users %}
                        <tr class="user-menu">
                            <th class="user">{{ user.get_full_name }}</th>
                            {% for day, items in days %}
                                <td class="day-dishes">
                                    {% for item in items %}
                                        <div class="dish">
                                            <span class="provider provider-{% if item.dish_day.dish.provider|safe == 'Хлеб-Соль' %}h{% else %}{% if item.dish_day.dish.provider|safe == 'Фьюжн' %}f{% endif %}{% endif %}">
                                                {% if item.dish_day.dish.provider|safe == 'Хлеб-Соль' %}
                                                    Х
                                                {% else %}
                                                    {% if item.dish_day.dish.provider|safe == 'Фьюжн' %}
                                                        Ф
                                                    {% else %}
                                                        {{ item.dish_day.dish.provider|safe }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="dish-name">{{ item.dish_day.dish.name }}{% if item.count > 1 %} <strong>x{{ item.count }}</strong>{% endif %}</span>
                                        </div>
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
	<script>
		var dishes = document.getElementsByClassName('dish-name');
		for ( var i = 0, l = dishes.length; i < l; i++ ) {
		    var dish = dishes[i],
		        name = dishes[i].innerHTML,
		        cut = name.replace(/\n/mg, ' ').replace(/\(.+\)/g, '');
		    dish.innerHTML = cut;
		}
	</script>
{% endblock %}
