{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}Заказ на наделю {{ week }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}admin.css" />
{% endblock %}

{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}

        <h2>Меню {{ week }}</h2>
        {% for provider, office, days in groups %}
            <h3 style="color:black"><u>{{provider.name}}, {{office.title}}</u></h3>
            <table>
            {% for seq, day, day_cost in days %}
                <tr>
                    <th colspan="20"><h3>{{ day }}</h3></th>
                </tr>
                <tr>
                  {#  <th>№ п/п</th> #}
                    <th>Наименование</th>
                    <th>Вес (грамм)</th>
                    <th>Цена(р)</th>
                    <th>Кол-во</th>
                    <th>Сумма(р)</th>
                </tr>
                {% for item in seq %}
                <tr>
                    <td>{{ item.dish_day__dish__name }}</td>
                    <td>{{ item.dish_day__dish__weight|default_if_none:'—' }}</td>
                    <td>{{ item.dish_day__price }}</td>
                    <td>{{ item.count__sum }}</td>
                    <td>{{ item.cost }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="4"></th>
                    <th><strong>Всего:</strong></th>
                    <th>{{ day_cost }}</th>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}

    </div>
{% endblock %}
