{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}Меню {{ week }} по людям{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}admin.css" />
{% endblock %}

{% block content %}
    <div id="content-main">
        {% include 'dinner/report_menu.html' %}
{% spaceless %}
        {% for office, users in offices %}
        <h2><u>{{office.title}}</u></h2>
            {% for user, days in users %}
                <h3 style="color:black">{{ user.get_full_name }}</h3>
                {% for day, items in days %}
                    <h4 style="margin-bottom: 0; color: gray">{{ day }}</h4>
                    <div style="padding-left: 1em">
                    {% for item in items %}
                       {{ item.dish_day.dish.name }}{% if item.count > 1 %} <strong>x{{ item.count }}</strong>{% endif %}<br/>
                    {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
{% endspaceless %}
    </div>
{% endblock %}
