{% extends 'base.html' %}
{% load vardump %}
{% block body %}
    {% if is_office_manager %}
		<div class="manage cf">
			<a href="/admin/dinner/menu/" class="button small">менеджить хочу</a>
			<form action="." method="get" class="change_user">
				{% for field in delegation_form %}
				<div class="fake-select">
					{{ field }}
					{{ field.label_tag }}
					<div class="selector">
						<span class="current button small">loading...</span>
						<ul></ul>
					</div>
				</div>
				{% endfor %}
			</form>
		</div>
    {% endif %}
	
	<h2>Мсьё {{ user.get_full_name }}, твое меню на неделю c {{ order.menu_id|date:"d F" }}</h2>

	<ul class="messages">
    {% if order.donor %}
		<li class="info"><span class="icon">&nbsp;</span>Специальная акция! Автор <a href="{% url dinner.views.order_view order.pk %}">твоего меню</a> на следующую неделю &mdash; <strong>{{ order.donor.get_full_name }}</strong>.</li>
	{% else %}
		<li class="info"><span class="icon">&nbsp;</span>Твой текущий выбор можно проверить по ссылке: <a href="{% url dinner.views.order_view order.pk %}">давай сюда меню сейчас</a>.</li>
    {% endif %}
	</ul>

	<form action="" method="post" class="order_form" id="order_form">
		{% csrf_token %}

		<input type="hidden" name="week" value="{{ order.menu.pk|date:"c" }}" />

		<section class="dishes-list" id="dishes_list">
		{% for day, dishes_by_group in dishes_by_group_by_day %}
			<div class="day-segment">
				<h3 class="title script">{{ day|lower|capfirst }}<span class="icon">&nbsp;</span></h3>
				<div class="day-menu slider">
				{% for group, dishes in dishes_by_group %}
					<h4 class="title script">{{ group.1|lower|capfirst }}<span class="icon">&nbsp;</span></h4>
					<ul class="dishes slider" data-field="field_{{ forloop.counter }}">
						{% for dish in dishes %}
						<li{% if dish.count %} class="selected"{% endif %}>
							<span class="fake-checkbox">
								<span>&nbsp;</span>
								<input type="checkbox" value="1" id="dish_{{ dish.id }}" name="dish_check#{{ dish.id }}"{% if dish.count %} checked="checked"{% endif %} />
							</span>
							<label for="dish_{{ dish.id }}">{{ dish.title|lower|capfirst }}</label>
							<input name="dish#{{ dish.id }}" type="number" min="1" max="20" step="1" value="{{ dish.count|default:0 }}"{% if not dish.count %} disabled="disabled"{% endif %} autocomplete="off" autocorrect="off"  />
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
					{% if not forloop.last %}<a href="javascript:void(0);" class="next_day button micro">давай дальше, бро</a>{% endif %}
				</div>
			</div>
		{% endfor %}
		</section>
		<div class="hidden hideout"></div>
		<ul class="form-errors"></ul>

		<div class="submit"><button class="button" id="submit" type="submit" data-norm="Все выбрал!" data-alt="Я сказал нажал!">Все выбрал!</button></div>
    </form>
{% endblock body %}