{% extends 'base.html' %}
{% block body %}
    <p>{{ menu }}</p>

    <form action="." method="post">
    {% csrf_token %}

    <input type="hidden" name="menu" value="{{ menu.pk|date:"c" }}" />

    {% for day, dishes_by_group in dishes_by_group_by_day %}
        <h4>{{ day }}</h4>

        {% for group, dishes in dishes_by_group %}
            <h5>{{ group.1 }}</h5>
            <table>
                {% for dish in dishes %}
                <tr>
                    <td><input name="dish#{{ dish.id }}" type="text" value="{{ dish.count }}" maxlength="3" style="width:1em" /></td>
                    <td>{{ dish.title }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}

    <p><input type="submit" value="Сохранить" /></p>

    </form>

{% endblock body %}