/* =============================================================================
   Repeated styles, CSS3 Goodness, etc.
   ========================================================================== */
.button,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
textarea,
.fake-input,
.messages li,
.form-errors li,
.title,
.dishes li.selected,
aside .pseudo {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
			
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
			background-clip: padding-box;			
}

.fake-select ul,
.fake-select ul li.last {
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
			border-radius: 0 0 5px 5px;
}

.button.small,
.button.micro {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

					  
.button {				
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .25) inset, 1px 1px 0 0 rgba(0, 0, 0, .25);
	   -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .25) inset, 1px 1px 0 0 rgba(0, 0, 0, .25);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, .25) inset, 1px 1px 0 0 rgba(0, 0, 0, .25);
}

.button:active {
	-webkit-box-shadow: 1px 1px 0 0 rgba(255, 255, 255, .25), 1px 1px 0 0 rgba(0, 0, 0, .25) inset;
	   -moz-box-shadow: 1px 1px 0 0 rgba(255, 255, 255, .25), 1px 1px 0 0 rgba(0, 0, 0, .25) inset;
			box-shadow: 1px 1px 0 0 rgba(255, 255, 255, .25), 1px 1px 0 0 rgba(0, 0, 0, .25) inset;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
textarea,
.fake-input {
	-webkit-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(0, 0, 0, .1) inset;
	   -moz-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(0, 0, 0, .1) inset;
			box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(0, 0, 0, .1) inset;
}

input[type="text"].error,
input[type="email"].error,
input[type="number"].error,
input[type="password"].error,
input[type="tel"].error,
input[type="search"].error,
textarea.error,
.fake-input.error {
	-webkit-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(155, 0, 0, .1) inset;
	   -moz-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(155, 0, 0, .1) inset;
			box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(155, 0, 0, .1) inset;
}

aside .pseudo {
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .75);
	   -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .75);
			   box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .75);
}

.button,
.button:active {
	background-color: #0068dc;
	background: url('img/sprite_gradients.png') repeat-x 0 0;
}
.button:hover {
	background-color: #0e75e7;
	background: url('img/sprite_gradients.png') repeat-x 0 -37px;
}

.button.micro,
.title,
.button.micro:active,
.title.script:active {
	background-color: #f3f3f3;
	background: url('img/sprite_gradients.png') repeat-x 0 -74px;
}
.button.micro:hover,
.title.script:hover {
	background-color: #fcfcfc;
	background: url('img/sprite_gradients.png') repeat-x 0 -107px;
}

/* =============================================================================
   Headings, fonts, other global stuff
   ========================================================================== */

body, select, input, button, textarea {
	color: #321b00;
	font: normal 13px/1.4em Helvetica, Arial, sans-serif;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection { background: #fe57a1; color:#fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #fe57a1; } /* j.mp/webkit-tap-highlight-color */

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6, nav, b, strong, th, strong {
	font-weight: bold;
}

h2 {
	margin: 1em 0 .63em;
	font-size: 24px;
	line-height: 1.63em;
	color: #3c250b;
}

h3 {
	font-size: 18px;
	line-height: 1.5em;
	color: #3c250b;
}

blockquote {
	quotes: '“' '”';
	font-faimly: Georgia, 'Time New Roman', Times, serif;
	font-style: italic;
}
	blockquote footer {
		font-size: .7em;
		font-style: normal;
	}
blockquote p:before {
	content: '“'; content: open-quote;
}
blockquote p:after {
	content: '”'; content: close-quote;
}

.form-errors,
.messages {
	margin: 20px 0;
}
.form-errors {
	display: none;
}
.form-errors li,
.messages li {
	margin: 5px 0;
	padding: 10px;
	
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	background-image: url('img/sysmessage_bg.png');
	background-repeat: repeat;	
	
	color: #550000;
	border: 1px solid #873b3b;
	background-color: #e9ac56;
	background-color: rgba(200, 0, 0, .3);
}
	.messages li .icon,
	.review .multiple .icon,
	.form-errors li .icon	{
		width: 18px;
		height: 19px;
		
		margin-right: 10px;
		text-indent: -9999em;
		overflow: hidden;
		
		display: inline-block;
		vertical-align: middle;
		background: url('img/sprite_buttons.png') no-repeat -413px -5px;
	}
		.messages li.info .icon {
			background-position: -453px -5px;
		}
		.messages li.warning .icon,
		.form-errors li	.icon {
			background-position: -393px -5px;
		}
	.messages li.info {
		color: #055000;
		border-color: #0b7200;
		background-color: #aee652;
		background-color: rgba(0, 200, 0, .3);
	}
	.messages li.debug {
		color: #000055;
		border: 1px solid #002372;
		background-color: #53a2e5;
		background-color: rgba(0, 0, 200, .3);
	}
	.messages li.warning {
		color: #3a3500;
		border: 1px solid #c1b100;
		background-color: #e5e053;
		background-color: rgba(200, 200, 0, .3);
	}

/* =============================================================================
   Links, Inputs
   ========================================================================== */

/* Default link styles */
a, a:active, a:visited {
	color: #0a49be;
}
a:hover {
	color: #2965d4;
}

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

.button,
a.button {
	padding: 6px 15px;
	display: inline-block;
	vertical-align: top;
	
	border: 1px solid #004faf;
	text-decoration: none;
	
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	
	text-align: center;
	
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
			
	cursor: pointer;
}

.button:active,
a.button:active {
	padding: 7px 15px 5px 15px;
}

a.button:active,
a.button:visited,
a.button.small:active,
a.button.small:visited {
	color: #fff;
}

.button.small,
a.button.small {
	padding: 6px 10px 5px 10px;
	
	border: none;
	font-size: 15px;
	line-height: 18px;
	text-transform: lowercase;
}
.button.small:active,
a.button.small:active {
	padding: 7px 10px 4px 10px;
}

.button.micro,
a.button.micro {
	padding: 4px 6px 4px 6px;
	
	color: #321b00;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	
	border: none;
	font-size: 13px;
	line-height: 16px;
	text-transform: lowercase;
}
.button.micro:active,
a.button.micro:active {
	padding: 5px 6px 3px 6px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
textarea,
.fake-input {
	padding: 3px 6px;
	border: 1px solid #c0c0c0;
	outline: none;
	
	font-size: 16px;
	line-height: 17px;
	vertical-align: middle;
	
	background: #fefefe;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;	
}
input[disabled],
textarea[disabled],
.fake-input[disabled] {
	color: #ccc;
}
.fake-input {
	padding: 8px 10px;
	display: inline-block;
}

input[type="text"].error,
input[type="email"].error,
input[type="number"].error,
input[type="password"].error,
input[type="tel"].error,
input[type="search"].error,
textarea.error,
.fake-input.error {
	border-color: #873b3b;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	background: transparent;
}

.fake-checkbox-wrap label,
.fake-radio-wrap label {
	display: inline-block;
}
.fake-checkbox,
.fake-radio {
	width: 26px;
	height: 27px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
	.fake-checkbox span,
	.fake-radio span {
		width: 26px;
		height: 27px;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		z-index: 1;
		text-indent: -9999em;
		overflow: hidden;
		
		background: transparent url('img/sprite_buttons.png') no-repeat -85px -1px;
	}
	.fake-radio span {
		background-position: -29px -1px;
	}
	.no-js .fake-checkbox span,
	.no-js .fake-radio span {
		display: none;
	}
	.fake-checkbox.active span {
		background-position: -57px -1px;
	}
	.fake-radio.active span {
		background-position: -1px -1px;
	}
	.js .fake-checkbox input,
	.js .fake-radio input {
		width: 26px;
		height: 27px;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		z-index: 900;
		
		cursor: pointer;
		
		-khtml-opacity: 0;
		  -moz-opacity: 0;
			   opacity: 0;

		-ms-filter: "alpha(opacity=0)";
			 filter: alpha(opacity=0);
	}
		
.fake-select {
	overflow: visible;
}
	.js .fake-select select {
		position: absolute;
		top: -100500px;
		left: -100500px;
	}
	.fake-select label {
		display: inline-block;
	}
	.fake-select .selector {
		display: inline-block;
		position: relative;
	}
		.fake-select .selector .current {
			min-width: 100%;
			position: relative;
			z-index: 905;
		}
		
	.no-js .fake-select .selector {
		display: none;
	}
		.fake-select ul {
			min-width: 100%;
			margin: 0;
			position: absolute;
			left: 0;
			top: 28px;
			
			display: none;
			border: 1px solid #c0c0c0;
			
			list-style: none;

			background: #fff;
		
			z-index: 902;
			text-align: left;

			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
		}
		.fake-select .active ul {
			display: block;
		}
			.fake-select ul li {
				margin: 0;
				padding: 6px 8px;
				cursor: pointer;
				word-wrap: normal;
				white-space: nowrap;
			}
			.fake-select ul li:active,
 			form .dropholder a.ui-state-active,
 			form .dropholder a:active {
				background: #eee;
			}
	
.num-shim-cont {
	display: inline-block;
	vertical-align: middle;
	
	position: relative;
}	
	.num-shim {
		font-size: 12px;
		line-height: 12px;
		right: 3px;
		top: 1px;
		
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			 -o-user-select: none;
				user-select: none;
	}
		.num-shim span:hover {
			color: #325882;
		}
	.disabled .num-shim {
		color: #ccc;
	}
		.disabled .num-shim span:hover {
			color: inherit;
		}
/* =============================================================================
   Primary styles
   Author: Max Degterev @suprMax
   ========================================================================== */

html {
	background: #f9f578 url('img/html_bg.jpg') repeat;
}
body {
	background: transparent url('img/body_bg.jpg') repeat-x;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.gheader {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
	overflow: hidden;
}
	.logolink {
		text-decoration: none;
	}
	h1 {
		width: 237px;
		height: 39px;

		float: left;
		overflow: hidden;
		text-indent: -9999em;
		background: transparent url('img/logo.png') no-repeat;
	}
	.gheader .status {
		width: 50%;
		float: right;
		text-align: right;

		font-size: 14px;
	}
	.gheader blockquote {
		clear: both;
		text-align: right;

		font-weight: bold;
		font-size: 16px;
	}
	
.gfooter {
	padding: 20px 0;
	text-align: center;
}

.rotate {
	margin: 0 10px;
	display: inline-block;
	
	font-weight: bold;
	
	-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
				transform: rotate(90deg);
}

.main {
	width: 960px;
	margin: 0 auto;
}
	.main .manage .button {
		float: left;
	}
	.main .manage form {
		width: 300px;
		float: right;
		text-align: right;
	}
	.main .manage label {
		padding-top: 4px;
		vertical-align: top;
		font-size: 14px;
	}
		.main .manage .selector {
			min-width: 100px;
		}

.order_form .submit {
	margin-top: 20px;
	text-align: center;
}
	.order_form .submit .script {
		margin-right: 20px;
	}
	.title {
		margin-top: 10px;
		padding: 5px 10px;
		font-size: 14px;
		
		overflow: hidden;
		
		border: 1px solid #dbdbdb;
	}
	.title.script {
		cursor: pointer;
	}
		.title .icon {
			width: 18px;
			height: 19px;
			
			text-indent: -9999em;
			overflow: hidden;
			
			float: right;
			
			display: iniline-block;
			vertical-align: middle;
			
			background: url('img/sprite_buttons.png') no-repeat -233px -5px;
		}
			.title.active .icon {
				background-position: -253px -5px;
			}
		.slider {
			display: none;
		}
		.day-menu {
			padding: 10px 20px;
		}
			.day-menu .next_day {
				margin-top: 10px;
			}
		.dishes  {
			padding: 10px 20px;
		}
			.dishes li {
				margin: 10px 0;
				padding: 6px;
			}
			.dishes.review {
				font-size: 14px;
			}
			.dishes li.selected {
				padding: 5px;
				background: #ffb629;
				border: 1px solid #f2aa1b;
			}
				.dishes li label {
					margin-left: 10px;
					font-size: 14px;
				}
				.dishes .price {
					float: right;
					font-size: 14px;
					text-align: right;
					width: 50px;
				}
				.dishes .price:after {
					content: " р.";
				}
				.dishes input[type="number"] {
					width: 50px;
					
					float: right;
					
					text-align: center;
				}
				.no-inputtypes-number .dishes .num-shim-cont {
					float: right;
				}
				.no-inputtypes-number input[type="number"] {
					float: none; /* reset if we have no native input type support - container is floated */
					text-indent: -12px;
				}

.review_footer {
	text-align: center;
}

aside {
	width: 100%;
	height: 100%;
	position: fixed;
	left: -100%;
	top: -100%;
	overflow: hidden;
	z-index: 9000;
	
	background: #333;
	background: rgba(0,0,0,.7);
}
aside.active {
	left: 0;
	top: 0;
}
	aside .wrap {
		width: 100%;
		height: 100%;
		
		position: relative;
		
		display: table;	
	}
		aside .contens {
			display: table-cell;
			vertical-align: middle;
		}
			aside .pseudo {
				width: 300px;
				margin: 0 auto;
				padding: 20px 30px 20px 20px;
				position: relative;
				background: #fefefe;
				background: rgba(255,255,255,.8);
			}
				aside p {
					margin-top: 10px;
					font-size: 14px;
				}
					aside label {
						padding-left: 5px;
					}
				aside .closebutton {
					width: 18px;
					height: 19px;
					
					display: block;
					overflow: hidden;
					text-indent: -9999em;
					
					position: absolute;
					right: 5px;
					top: 5px;
					
					background: url('img/sprite_buttons.png') no-repeat -313px -5px;
				}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/* Clearing floats */
.cb { clear: both; }

/* floating elements */
.fl { float: left; }
.fr { float: right; }

/* Fake span blocks etc */
.eblock { display: block; }
.iblock { display: inline-block; }

/* Quick triggering if positioning context */
.rblock { display: block; position: relative; }
.riblock { display: inline-block; position: relative; }

/*
 * Triggering hardware acceleration for smooth animations.
 * Translate3d works better on iOS devices
 */
.trigger3D {
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		 -o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
}

/* prevent callout */
.nocallout { -webkit-touch-callout: none; }

/* Text overflow with ellipsis */
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/* A hack for HTML5 contenteditable attribute on mobile */
textarea.contenteditable { -webkit-appearance: none; }

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
